---
http_interactions:
- request:
    method: get
    uri: https://webapi.allegro.pl/service.php?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0"?>

        <definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://webapi.allegro.pl/service.php"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        name="service" targetNamespace="https://webapi.allegro.pl/service.php"><types><xsd:schema
        targetNamespace="https://webapi.allegro.pl/service.php" elementFormDefault="qualified"
        attributeFormDefault="unqualified"><xsd:complexType name="ArrayOfLong"><xsd:sequence><xsd:element
        name="item" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element
        name="DoAddDescToItemsRequest"><xsd:complexType><xsd:sequence><xsd:element
        name="sessionHandle" type="xsd:string"/><xsd:element name="itemsIdArray" type="tns:ArrayOfLong"
        minOccurs="0"/><xsd:element name="itDescription" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element
        name="doAddDescToItemsResponse"><xsd:complexType><xsd:sequence><xsd:element
        name="arrayItemsAddId" type="tns:ArrayOfLong" minOccurs="0"/><xsd:element
        name="arrayItemsDescToLong" type="tns:ArrayOfLong" minOccurs="0"/><xsd:element
        name="arrayItemsNotFound" type="tns:ArrayOfLong" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element><xsd:complexType
        name="PackageInfoStruct"><xsd:all><xsd:element name="operatorId" type="xsd:int"/><xsd:element
        name="packageId" type="xsd:string"/></xsd:all></xsd:complexType><xsd:complexType
        name="ArrayOfPackageinfostruct"><xsd:sequence><xsd:element name="item" type="tns:PackageInfoStruct"
        minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element
        name="DoAddPackageInfoToPostBuyFormRequest"><xsd:complexType><xsd:sequence><xsd:element
        name="sessionId" type="xsd:string"/><xsd:element[...]
- request:
    method: post
    uri: https://webapi.allegro.pl/service.php
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://webapi.allegro.pl/service.php"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:DoLoginEncRequest><tns:userLogin>Client:34094542</tns:userLogin><tns:userHashPassword>nIcdIAWtfsLjpq8BmRZfJ2XnBrBesk/AMLZEvQvo1FY=

        </tns:userHashPassword><tns:countryCode>228</tns:countryCode><tns:webapiKey>f91e6591</tns:webapiKey><tns:localVersion>1376386632</tns:localVersion></tns:DoLoginEncRequest></env:Body></env:Envelope>'
    headers:
      Soapaction:
      - ! '"#doLoginEnc"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:ns1="https://webapi.allegro.pl/service.php"><SOAP-ENV:Body><ns1:doLoginEncResponse><ns1:sessionHandlePart>1f74b6d07d2bc2ddefcbf34ca2808729bcd9a9aa155a173301_228</ns1:sessionHandlePart><ns1:userId>34094542</ns1:userId><ns1:serverTime>1380475517</ns1:serverTime></ns1:doLoginEncResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>

'
  recorded_at: Sun, 29 Sep 2013 17:31:10 GMT
- request:
    method: post
    uri: https://webapi.allegro.pl/service.php
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="https://webapi.allegro.pl/service.php"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:DoGetSellFormFieldsRequest><tns:countryCode>228</tns:countryCode><tns:localVersion>1376386632</tns:localVersion><tns:webapiKey>f91e6591</tns:webapiKey></tns:DoGetSellFormFieldsRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"#doGetSellFormFields"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: !binary |-
        T0s=
    headers:
      !binary "RGF0ZQ==":
      - !binary |-
        U3VuLCAyOSBTZXAgMjAxMyAxNzoyNToxNyBHTVQ=
      !binary "U2VydmVy":
      - !binary |-
        QXBhY2hl
      !binary "VmFyeQ==":
      - !binary |-
        QWNjZXB0LUVuY29kaW5n
      !binary "U2V0LUNvb2tpZQ==":
      - !binary |-
        d3MyPWViNDliM2Q1YTE5NjUwZDg2ZGE3YTBkNWE5MjIyOTA5OyBleHBpcmVz
        PVN1biwgMjktU2VwLTIwMTMgMTc6NTU6MTcgR01UOyBwYXRoPS87IGRvbWFp
        bj0uYWxsZWdyby5wbA==
      - !binary |-
        d3MzPU5kZDhkMjcxMGEwOTY4NjBhM2FjZTgxMDUyODMzMGM4ZTsgZXhwaXJl
        cz1TYXQsIDIzLUFwci0yMTEyIDE3OjI1OjE3IEdNVDsgcGF0aD0vOyBkb21h
        aW49LmFsbGVncm8ucGw=
      - !binary |-
        d3M0PXg7IHBhdGg9LzsgZG9tYWluPS5hbGxlZ3JvLnBs
      !binary "Q29udGVudC1MZW5ndGg=":
      - !binary |-
        NzkwMjI=
      !binary "Q29udGVudC1UeXBl":
      - !binary |-
        dGV4dC94bWw7IGNoYXJzZXQ9dXRmLTg=
      !binary "WC1GcmFtZS1PcHRpb25z":
      - !binary |-
        U0FNRU9SSUdJTg==
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPFNPQVAt
        RU5WOkVudmVsb3BlIHhtbG5zOlNPQVAtRU5WPSJodHRwOi8vc2NoZW1hcy54
        bWxzb2FwLm9yZy9zb2FwL2VudmVsb3BlLyIgeG1sbnM6bnMxPSJodHRwczov
        L3dlYmFwaS5hbGxlZ3JvLnBsL3NlcnZpY2UucGhwIj48U09BUC1FTlY6Qm9k
        eT48bnMxOmRvR2V0U2VsbEZvcm1GaWVsZHNSZXNwb25zZT48bnMxOnNlbGxG
        b3JtRmllbGRzPjxuczE6aXRlbT48bnMxOnNlbGxG[...]
